/*----------------
    RESET
------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/

body {
    height: 100vh;
    
}

footer {
    background-color: #282828;
    height: 6.25rem;
    padding-left: .625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
   
    flex-grow: 1;
    overflow: auto;
    background-color: #141922;
}

.img-fluid {
    max-width: 100%;
}


hr {
    color: grey;
}

h4 {
    padding-bottom: .625rem;
    padding-top: 1.5625rem;
    color: white;
}

/*----------------
    CONTAINER
------------------*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 2);
    padding: .9375rem;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-upgrade{
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding: 8px 32px;
    margin-top: 36px;
    margin-right: 5px;
}

.btn-eff:hover {
    font-size: 1rem;
    transition: 0.7s;
}

/*----------------
    HEADER
------------------*/

.header-main {
    display: flex; 
    height: calc(100% - 6.25rem);
}

header {
    background-color: black;
    width: 3.125rem;
    padding: .625rem;
    overflow-y: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header::-webkit-scrollbar {
    display: none;
}

.header-top  {
    flex-grow: 1;
}

.header-top img {
    width: 1.875rem;
    padding-bottom: .625rem;
    vertical-align: middle;
} 

.header-bottom img {
    width: 1.875rem;
    padding-bottom: .625rem;
    vertical-align: middle;
} 

.logo-big  {
    display: none;
    width: 6.25rem;
}

.logo-big > img{
    width: 6.25rem;
    padding-bottom: 1.875rem;
} 

header .logo-big img{
    margin-right: .625rem;
} 

.logo-small > img{
    padding-bottom: 1.875rem;
} 

header ul {
    list-style: none;
    color: white;
    align-items: center;
}

.logo-small {
    display: inline; 
}

a {
    text-decoration: none;
    color: grey;
    
}


.txt-decor  {
    text-decoration: none;
    color: grey;
    font-size: 1.25rem;
}


i {
    font-size: xx-large;
    padding-bottom: 1.25rem;
    padding-right: .625rem;
}

.name-play li {
    padding-bottom: 1.25rem;
}


.playlist {
    flex-grow: 1;
    overflow: auto;
    min-height: 12.5rem;
    min-width: 12.5rem;
}

.playlist::-webkit-scrollbar {
    display: none; 
} 

.profile {
    padding-top: .625rem;
}

.profile a {
    color: white;
}

.profile img {
    background-color: grey;
    border-radius: 50%;
}

.download img {
    width: 1.5625rem;
}

header a:hover {
    color: white;
    transition: 0.7s;
}

/*----------------
        MAIN
------------------*/

.for-you .album-img ,
.albums .album-img {
    position: relative;
    display: block;
}

.overlay-album {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}

.overlay-album:hover {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    color: #fff;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.albums:hover , .for-you:hover {
    cursor: pointer;
}

.albums img , .for-you img {
    display: block;
}

/*----------------
    SECTION BANNER
------------------*/

.banner{
    background-color: #121319;
    height: 95px;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 10;
}

/*----------------
    SECTION MAIN NAV
------------------*/
.main-nav .hover-link {
    height: .125rem;
    width: 2.5rem;
    background-color: limegreen;
    margin: auto;
    margin-top: .1875rem;
}

.main-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    list-style: none;
    justify-content: center;
}

.main-nav {
    padding: 1.875rem;
}

.main-nav a:hover {
    color: white;
    transition: 0.7s;
}


/*----------------
    SECTION ALBUMS
------------------*/

.albums h2 {
    color: white;
    padding-left: .9375rem;
    padding-top: 1.875rem;
    padding-bottom: 1rem;
}

.album-details h3 {
    color: white;
    padding-top: .625rem;
    padding-bottom: .625rem;
    text-align: center;
}

.album-details p {
    color: grey;
    text-align: center;
}

/*----------------
    SECTION FOR YOU
------------------*/

.for-you > p {
    color: grey;
    padding-left: .9375rem;
    padding-bottom: 1.5625rem;
    
}

.for-you h2 {
    color: white;
    padding-left: .9375rem;
    padding-top: 1.875rem;
    padding-bottom: 1rem;
}

/*----------------
    SECTION POPULAR ARTIST
------------------*/

.for-you .album-img.album-img-circle {
    border-radius: 50%;
    overflow: hidden;
}


/*----------------
    FOOTER
------------------*/

/*----------------
    NAV-LEFT
------------------*/

.nav-left{
    display: flex; 
    align-items:center;
    height: 100%;  
    width: 20%;
}

.nav-left img {
    width: 3.125rem;
}

.song-details {
    align-self: normal;
    line-height: 0.5;
    padding-left: .625rem;
    padding-right: 1.25rem;
}

.song-details p {
    color: grey;
    line-height: 1;
}

.font-asw i {
    font-size: 1.25rem;
    line-height: 0.1;
}

.font-asw {
    display: flex;
    flex-direction: column;  
    padding-top: 1.25rem;
}

/*----------------
    NAV-CENTER
------------------*/

.nav-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-top: .625rem;
}

.nav-center ul {
    display: flex;
    gap: .9375rem;
    list-style: none;
    padding-bottom: .625rem;
}

.nav-center  i {
    font-size: 1.4375rem;
    line-height: 0.1;
}

.font-play i{
    font-size: 2.5rem;
}

.bar-time {
    display: flex;
    align-items: center;
    color: white;
 }

.play-bar {
    
    height: .25rem;
    width: 9.375rem;
    background-color: #5a5a5a;
    margin-left: .625rem;
    margin-right: .625rem;
}

.play-bar-inner {
    width: 25%;
    height: 100%;
    background-color: #c1c1c1;
}

/*----------------
    NAV-RIGHT
------------------*/

.nav-right ul {
    display: flex;
    gap: .5rem;
    list-style: none;
}

.nav-right i {
    font-size: .9375rem;
    line-height: 0.1;
    
}

.nav-right {
    display: flex;
    align-items: center;
    align-items: baseline;
    padding-right: .625rem;
    width: 20%;
    justify-content: flex-end;
}

.vol-bar {
    height: .25rem;
    width: 6.25rem;
    background-color: #5a5a5a;
}

.vol-bar-inner {
    width: 25%;
    height: 100%;
    background-color: #c1c1c1;
}

/*----------------
    RESPONSIVE
    Mobile First
------------------*/

/* SM >= 576px */
@media screen and (min-width: 576px) {
    
}
/* S >= 768px */
@media screen and (min-width: 768px) {
    header {
        width: 14.375rem; 
        text-align: left;  
    }

    .logo-small {
        display: none;
    }

    .logo-big {
      display: inline;
    }

    .header-bottom {
        padding-top: 12.5rem;
    } 

    .col {
        width: calc(100% / 4);
    }

    .font-asw {
        display: flex;
        flex-direction: row; 
        
    }

    .play-bar {
        width: 18.75rem;
    }

}
/* M >= 992px */
@media screen and (min-width: 992px) {

    .col {
        width: calc(100% / 6);
    }
    
}
/* L >= 1200px */
@media screen and (min-width: 1200px) {
    
}